@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97.3%;
    --foreground: 0 0% 10.6%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10.6%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10.6%;
    --primary: 216 45% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 208 39% 51%;
    --secondary-foreground: 0 0% 98%;
    --muted: 192 38% 94%;
    --muted-foreground: 208 39% 45%;
    --accent: 15 79% 55%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 30% 88%;
    --input: 216 30% 94%;
    --ring: 15 79% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 216 20% 10%;
    --foreground: 0 0% 97.3%;
    --card: 216 20% 12%;
    --card-foreground: 0 0% 97.3%;
    --popover: 216 20% 12%;
    --popover-foreground: 0 0% 97.3%;
    --primary: 0 0% 98%;
    --primary-foreground: 216 45% 30%;
    --secondary: 208 39% 51%;
    --secondary-foreground: 0 0% 98%;
    --muted: 216 20% 20%;
    --muted-foreground: 0 0% 60%;
    --accent: 15 79% 55%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 20% 25%;
    --input: 216 20% 25%;
    --ring: 15 79% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
